# First project

## Imports

In [1]:
import pandas as pd
from numpy import random

## Preparing some sample data

In [2]:
rand_ndarray = random.rand(10, 3)

In [3]:
rand_df = pd.DataFrame(rand_ndarray, columns=['a', 'b', 'c'])
rand_df

          a         b         c
0  0.611621  0.191299  0.478822
1  0.617623  0.783360  0.176358
2  0.995031  0.218289  0.720766
3  0.559760  0.671515  0.826677
4  0.673402  0.528458  0.069781
5  0.046236  0.334950  0.067305
6  0.627418  0.703134  0.319699
7  0.698815  0.901619  0.301047
8  0.257847  0.480282  0.099403
9  0.614222  0.850357  0.201129

## Export data

In [4]:
rand_df.to_csv('data.csv', index=False)