# First project

## Imports

In [1]:
import pandas as pd
from numpy import random

## Preparing some sample data

In [2]:
rand_ndarray = random.rand(10, 3)

In [3]:
rand_df = pd.DataFrame(rand_ndarray, columns=['a', 'b', 'c'])
rand_df

          a         b         c
0  0.217632  0.734413  0.468025
1  0.886751  0.650517  0.688671
2  0.941368  0.979971  0.365455
3  0.509634  0.586035  0.873262
4  0.447218  0.963547  0.884713
5  0.938475  0.775307  0.465059
6  0.412560  0.211978  0.600735
7  0.207234  0.223517  0.711400
8  0.191830  0.789215  0.080216
9  0.293796  0.646491  0.562969